set background=dark
set backspace=eol,start,indent
set cmdheight=1
set cursorcolumn
set cursorline
set expandtab
set hid
set history=1000
set hlsearch
set ignorecase
set incsearch
set laststatus=2
set linebreak
set mouse=a
set nobackup
set nocompatible
set nolist
set nowrap
set number
set ruler
set scrolloff=10
set shiftwidth=4
set showbreak=>\ \ \
set showcmd
set showmatch
set showmode
set smartcase
set tabpagemax=50
set tabstop=4
set textwidth=0
set title
set whichwrap+=<,>,h,l
set wildignore=*.docx,*.jpg,*.png,*.gif,*.pdf,*.pyc,*.exe,*.flv,*.img,*.xlsx
set wildmenu
set wildmode=list:longest
set wrap
syntax on
